<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button (click)='onLogout()'>
            <ion-icon slot="icon-only" name="log-out" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>
    <h1 id="titulo"><ion-datetime [(ngModel)]="currentDATA" displayFormat="DDDD, D" value={{RetornaDataHoraAtual()}}></ion-datetime></h1> 
    <h6 id="secundarios"><ion-datetime [(ngModel)]="currentDATA" displayFormat="MMMM - YYYY" value={{RetornaDataHoraAtual()}}></ion-datetime></h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of atualiza(currentDATA)">
        <ion-item>     
            <ion-icon padding name={{item.tag}} (click)="item.tag = mudar_tag(item.tag)"></ion-icon>
                 <del *ngIf="item.tag === 'remove-circle'; else elseBlock"><ion-input   [(ngModel)]="item.title" placeholder = {{item.evento}}></ion-input></del>
                 <ng-template #elseBlock><ion-input   [(ngModel)]="item.title" placeholder = {{item.evento}}></ion-input>
                 </ng-template>
        </ion-item>
        <ion-item-options >
          <ion-item-option color="light">
            <ion-icon color="danger" style="zoom:1.6;" name="trash" (click)="deletarCampo(item)" ></ion-icon>
        </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
    
</ion-list>
<ion-fab  vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="danger">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button ion-button class="button" (click)="adicionarCampo('radio-button-off')"><ion-icon name="radio-button-off"></ion-icon></ion-fab-button>
  Tasks
  </ion-fab-list>
  <ion-fab-list side="start">
    <ion-fab-button ion-button class="button" (click)="adicionarCampo('aperture')"><ion-icon name="aperture"></ion-icon></ion-fab-button>
  Events
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button ion-button class="button" (click)="adicionarCampo('remove')"><ion-icon name="remove"></ion-icon></ion-fab-button>
  Notes
  </ion-fab-list>
</ion-fab>

</ion-content>