<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button (click)='onLogout()'>
            <ion-icon slot="icon-only" name="log-out" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title id="titulo">
        <h1 horizontal="center "> <ion-datetime  [(ngModel)]="currentDATA" value={{RetornaDataHoraAtual()}} displayFormat="YYYY" min="2018" max="2025"></ion-datetime></h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let topic of meses">
          <ion-list><h5 id="titulo">{{topic.mes}}</h5>
        <ion-icon style="zoom:1.7;" color="medium" name="add" (click)="adicionar(topic.mes_num,currentDATA)"></ion-icon></ion-list>
        
        <ion-toolbar>
          <ion-list>    
            <ion-item-sliding *ngFor="let item of atualiza(topic.mes_num,currentDATA)">
              <ion-item >
                  <ion-datetime padding placeholder="--" displayFormat="DD" id="secundarios" [(ngModel)]="item.data"></ion-datetime>
                  <ion-input  [(ngModel)]="item.title" placeholder = "{{item.evento}}"></ion-input>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="light">
                  <ion-icon name="trash" (click)="deletar(item)" color="danger"style="zoom:1.7;"></ion-icon>
              
              </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        </ion-toolbar>

      </ion-item>
  </ion-list>
</ion-content>
