
#titulo {
    color:  #2E64FE;
    text-align: center;
    
  }
#textsec{
  color:#f04141;
}
  #primerios{
    color:  #A4A4A4;
  }
  
  #secundarios{
    color:  #2E64FE;
  }
  
  #botoes{
    color: #FF0040;
  }
  